/* https://vuejs.org/v2/guide/transitions.html */
body {
	background-color: #2e151b;
}
h1 {
	padding: 10px 0;
	text-align: center;
	
}
h1, h4, label {
	color: #da7b93;
	font-family: 'Righteous', cursive;
}
th, label {
	color: #2f4454;
}

.card {
	background-color: #376e6f;
	color: #1c3334;
}
.card-title {
	
}
.present-true {
	font-family: 'Righteous', cursive;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

#student-table {
    max-height: 500px;
    overflow: scroll;
}

.present-true {
	color: gray;
	font-style: italic;
}

.present-false {
	font-weight: bold;
}